
@model IEnumerable<MerchantQRPortalCore.Resources.QRCodeResource>

@{
    ViewBag.Title = "All";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All</h2>

<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.MerchantName)</th>
            <th>@Html.DisplayNameFor(model => model.AccountNumber)</th>
            <th>@Html.DisplayNameFor(model => model.DateCreated)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.MerchantName)</td>
                <td>@Html.DisplayFor(modelItem => item.AccountNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.MerchantCode)</td>
                <td>@Html.DisplayFor(modelItem => item.DateCreated)</td>
                <td>@Html.ActionLink("Details", "Details", new { id = item.MerchantCode })</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });

    </script>
}
